body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  background-color: #283593;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
  flex-wrap: wrap;
}

.nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-out;
}

.nav a:hover {
  color: #c5cae9;
  transform: rotate(6deg);
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-left: 20px;
}

.hero {
  background-color: #c5cae9;
  padding: 60px 45px;
  display: flex;
  justify-content: center;
}

.hero-inner {
  max-width: 760px;
}

.hero h1 {
  font-weight: normal;
  font-size: 4rem;
  margin: 0;
}

.hero p {
  font-size: 1.18rem;
  line-height: 1.6;
}

.button {
  background-color: #3949ab;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1.18rem;
  display: inline-block;
}

.features {
  background-color: #e8eaf6;
  padding: 60px 45px;
}

.features-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 45px;
  grid-row-gap: 45px;
}

.features-items h3 {
  color: #283593;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

.features-items p {
  margin: 0;
  line-height: 1.6;
  color: #333;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  color: #999;
  font-size: 0.9rem;
}
